* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    line-height: 1.6;
    background-color: #f9fafb;
    color: #333;
}

/*************************************************/
.header div {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(46, 46, 215);
    color: rgb(233, 143, 24);
}

.header h1 {
    font-size: 30px;
}

/*************************************************/
.introduction {
    /* max-width: 1000px; */
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*************************************************/
.members-grid {
    max-width: 100%;
    margin: 20 auto 60px auto;
    display: flex;
    flex-wrap: wrap; 
    gap: 65px; 
    justify-content: center; 
}

.member-card {
    flex: 1 1 280px; 
    max-width: 280px; 
    padding: 25px 30px 70px 30px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.member-card:hover {
    transform: scale(1.09);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.members-grid:hover .member-card {
    transform: scale(0.95);
}

.members-grid .member-card:hover {
    transform: scale(1.08);
}

.member-image {
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

/*************************************************/
.footer {
    background: rgb(46, 46, 215);
    color: rgb(233, 143, 24);
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 2rem;
}